.hbtn:focus {
    box-shadow: none !important;
}

.cbtn:focus {
    box-shadow: none !important;
    background: none;
}

.cbtn:hover {
    background: none !important;
}

.svgBtn:focus {
    fill: black;
}

.cartbtn:focus {
    box-shadow: none !important;
    background: #ff7900 !important;
}

.cartbtn:hover {
    background: #ff7900 !important;
    opacity: 0.5;
}

.avatar:hover {
    border: 2px solid #ff7900;
}

.checkoutBtn:focus {
    box-shadow: none !important;
    background: #ff7900 !important;
}

.checkoutBtn:hover {
    background: #ff7900 !important;
    opacity: 0.5;
}

#isvisible {
    visibility: hidden;
}