.hbtn:focus {
    box-shadow: none !important;
}

.cbtn:focus {
    box-shadow: none !important;
    background: none;
}

.cbtn:hover {
    background: none !important;
}

.svgBtn:focus {
    fill: black;
}

.cartbtn:focus {
    box-shadow: none !important;
    background: #ff7900 !important;
}

.cartbtn:hover {
    background: #ff7900 !important;
}