.slick-dots {
    text-align: center !important;
    bottom: -130px !important;
    height: fit-content;
}

.custom-indicator li {
    width: 100px !important;
    height: 100% !important;
    object-fit: contain;
}

.custom-indicator li.slick-active {
    opacity: 0.5;
    border: 3px solid #ff9100;
    border-radius: 18px;
}

.full {
    display: block;
}

.mobile {
    display: none;
}

.image {
    border-radius: 15px;
    width: 100%;
    height: 100%;
}

.slick-prev {
    position: absolute;
    z-index: 1;
    font-size: 30px !important;
    font-weight: 700 !important;
    margin-left: 8%;
    top: 50%;
    -ms-transform: translateY(-50%);
    /* IE 9 */
    -webkit-transform: translateY(-50%);
    /* Safari */
    transform: translateY(-50%);
}

.slick-next {
    z-index: 1;
    font-size: 30px !important;
    font-weight: 700 !important;
    position: absolute;
    margin-right: 8%;
    top: 50%;
    -ms-transform: translateY(-50%);
    /* IE 9 */
    -webkit-transform: translateY(-50%);
    /* Safari */
    transform: translateY(-50%);
}

.slick-prev:before,
.slick-next:before {
    content: "" !important;
    color: black !important;
}

@media (max-width: 970px) {
    .full {
        display: none;
    }
    .mobile {
        display: block;
    }
}