.custom-indicator {
    bottom: -65px;
}

.custom-indicator li {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.custom-indicator li.slick-active {
    opacity: 0.5;
    border: 2px solid #ff9100;
}

.full {
    display: block;
}

.mobile {
    display: none;
}

@media (max-width: 970px) {
    .full {
        display: none;
    }
    .mobile {
        display: block;
    }
}